.card{
    height: 400px;
    width: 350px;
    border: 3px solid grey;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 40px;
    display: inline-block;
    box-shadow: 0px 0px 5px 5px grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.food-card{
    height: 200px;
    width: 350px;
    border-radius: 18px 18px 0px 0px;
}
.btns{
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
.btns:hover{
    cursor: pointer;
    transform: scale(1.1);
}